Bootcamp_session1/obj
Bootcamp_session1/bin
SuperMarket/obj
SuperMarket/bin
SuperMarketTest/obj
SuperMarketTest/bin
UnitTest/obj
UnitTest/bin
Bootcamp_session1.v11.suo
Bootcamp_session1.sln.DotSettings.user